.home-page {
    position: relative;
}

.back-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 3rem;
    height: 3rem;
}

.active-btn {
    background-color: black !important;
    color: white !important;
    box-shadow: 0 0 50px 5px gray;
}