 .answer-qotd input, .answer-qotd textarea {
    margin-top: 10px;
    width: 100% !important;
    height: 40vh;
    font-size: 1.3vw;
    background: transparent;
    border-radius: 1rem;
    padding: 10px;
    resize: none;
    border: 1px solid black;
    margin-bottom: 10px;
}

.answer-qotd input:focus, .answer-qotd textarea:focus {
    outline: none;
    box-shadow: 0 0 20px 1px #829099;
}