.right-panel-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 3vw;
    width: 35vw;
    padding: 3rem;
}

.active-panel {
    backdrop-filter: blur(50px);
    border-radius: 2rem;
    border: 1px solid black;
    padding: 1rem;
}

.right-panel-header {
    font-size: 1.5vw;
    font-weight: bold;
    text-align: left;
}

.nav {
    border: 1px solid black;
    border-radius: 2rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.nav-link {
    color: black !important;
    border: 1px solid black;
    border-radius: 2rem;
    margin: 0.5rem;
}

.nav-link.active {
    background-color: black !important;
    color: white !important;
    box-shadow: 0 0 50px 5px gray;
}